.about-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: #2b2d42;
    padding: 20px 30px;
    background-color: #F2EFFD;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: 20px auto;
    
}

/* .about-container:hover {
    transform: scale(1.02);
} */

.flex-about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.about-img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

.about-img:hover {
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}

.about p {
    color: #4F2E57;
    /* line-height: 1.0; */
    padding: 2px 0;
    /* max-width: 600px;
    margin: 0 auto; */
}

.about-contact{
    background-color: #B79CCC;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    font-size: 1.2rem;
    font-weight: 600px;
}

.about-contact:hover{
    background-color: #A66F9C;
}


@media (max-width: 768px) {
    .flex-about {
        flex-direction: column;
    }

    .about-img {
        width: 200px;
        height: 200px;
    }

    .about p {
        font-size: 1.2rem;
    }
}
