/* Overall page styles */
.home {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
  }
  
  .saru {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* padding: 50px 20px; */
  }
  
  /* Background styling */
  .background {
    background-image: url('./assets/tech-girlie.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 95vh;
    width: 100%;
    position: relative;
    border-radius: 0 0 100%;
    /* margin-bottom: 40px; */
  }
  
  .overlay {
    position: absolute;
    border-radius: 0% 0% 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }
  
  .container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 16%;
    height: 100%;
    z-index: 2;
  }
  
  .content {
    color: #F5F5DC;
    padding: 10px 20px;
  }
  
  .welcome-text {
    font-size: 2rem;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  }
  
  .quote {
    font-size: 1.5rem;
    color: #ccc;
    font-style: italic;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  }
  
  /* Intro section */
  .intro {
    max-width: 680px;
    text-align: center;
    padding: 40px 20px;

    @media screen and (max-width: 500px) {
      padding: 20px 10px;
    }
  }
  
  .intro h1 {
    font-size: 2.2rem;
    color: #4F2E57;
    margin-bottom: 10px;
  }
  
  .stack {
    font-size: 1.8rem;
    color: #e46719;
    margin-bottom: 15px;
  }
  
  .tch {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  /* Button styles */
  .btns {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .btn {
    padding: 12px 30px;
    border-radius: 30px;
    background-color: #C08081;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .btn:hover {
    background-color: #A66F9C;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }
  
  /* Responsive design */
  @media screen and (max-width: 950px) {
    .saru{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .background {
      height: 40vh;
      border-radius: 0 0 20% 20%;
      margin-bottom: 0px;
    }

    .overlay{
        border-radius: 0 0 20% 20%;
    }
  
    .welcome-text {
      font-size: 1.7rem;
    }
  
    .quote {
      font-size: 1.2rem;
    }
  
    .intro h1 {
      font-size: 1.8rem;
    }
  
    .stack {
      font-size: 1.5rem;
    }
  
    .tch {
      font-size: 1rem;
    }
  
    .btn {
      padding: 10px 20px;
    }
  }
  