.nav{
    /* background-color: #8C75AD; */
    background-color: #cfb7cf;
    height: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
}
.navlink{
    justify-content: center;
    align-items: center;
    display: flex;
    /* color: #fff; */
    color: #47191a;
    text-decoration: none;
    gap: 40px;
    font-size: 20px;



    @media screen and (max-width: 460px) {
        font-size: 1rem;
        gap: 15px;
      }
}
/* .navlink:hover{
    color: #8C87BE;
    border-bottom: #070707;
} */
.link{
    position: relative;
    top: 70%;
}

.link:hover{
    border-bottom: 2px solid #c26869;
    border-top: 2px solid #c26869;
    color: #c26869;
}
